stages:
  - test

image: "quay.io/testing-farm/python-ci-image:2023-05-23-73a71064"

#
# Poetry and MyPy colors
#
.colors:
  variables:
    TERM: "xterm"
    POETRY_ADDOPTS: "--ansi"
    MYPY_FORCE_COLOR: "1"
    PYTEST_ADDOPTS: "--color=yes"

#
# Some of the jobs require locale to be set, some fail with it. Those which need it can inherit this section.
#
.locale:
  variables:
    # See https://click.palletsprojects.com/en/7.x/python3/#python-3-surrogate-handling
    # Export these for Python 3.6 - from 3.7 forward, Python is smarter when picking
    # default locales.
    LC_ALL: "en_US.utf8"
    LANG: "en_US.utf8"

.tests:
  extends: [.colors, .locale]
  stage: test
  before_script:
    - dnf -y install libxslt-devel
  artifacts:
    paths:
      - coverage-report
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: '$CI_COMMIT_BRANCH == "main"'

type-check:
  extends: .tests
  script: tox -e type-check

py39-static:
  extends: .tests
  script: tox -e py39-static-analysis

py39-unit:
  extends: .tests
  script: tox -e py39-unit-tests

py39-docs:
  extends: .tests
  script: tox -e py39-docs
  artifacts:
    paths:
      - docs/build/html

release:
  script:
    # todo remove once in python ci image
    - poetry self add "poetry-dynamic-versioning[plugin]"
    - poetry config repositories.gluetool https://upload.pypi.org/legacy/
    - poetry publish --build --repository gluetool
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+/
